<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="max-width mx-auto px3 ltr">
  <div class="content index py4">

    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
<script async defer src="https://www.recurse-scout.com/loader.js?t=784abf074a1746c5f4b2843b01541607"></script>
<script data-goatcounter="https://flamanda.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>

<link rel="stylesheet" href={{ "lib/font-awesome/css/all.min.css" | relURL }}>
<script src={{ "lib/jquery/jquery.min.js" | relURL }}></script>
<script src={{ "js/main.js" | relURL }}></script>

</html>
